<!--
    <ul class="list-group" *ngFor="let item of cadastros">
        <li class="list-group-item">
            {{item.nome}}      {{item.nivel}}       {{item.dataEntrevista}}
        </li>
    </ul>

-->

<div class="back">
    <form *ngFor="let item of cadastros" class="fomrs">
        <div class="row" id="row1">
            <div class="col-7" id="datadiv">
                <p class="form-control">{{item.dataEntrevista}}</p>
            </div>
            <div class="col" id="nome">
                <p class="form-control">{{item.nome}}</p>
            </div>
            <div class="col-6">
                <p class="form-control" id="icons">
                <i class="icones">
                    <img src="assets/status2.png" alt="status em andamento"/> 
                </i>
                <a  class="icones" routerLink="/cadastro/cadastro-atualizar/{{item.id}}">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                <a class="icones" routerLink="/cadastro/cadastro-deletar/{{item.id}}">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
                </p>
            <button class="butao" mat-raised-button color="primary" routerLink="/cadastro/entrevista/{{item.id}}">Ver entrevista</button>
    
            </div>
            
            
            
           
        </div>
       
    </form>
    <form>
    
       
            <form>
    
    
                <!-- JavaScript Bootstrap-->
                <script src="script.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                    crossorigin="anonymous"></script>
                </form>
    </form>
</div>
