<mat-sidenav-container class="container1">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="120">
        <!-- <mat-nav-list class="nav-list navegador"> -->
            <button class="default freature" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link">
                <a class="mat-list-item def" >
                    Início
                </a>
            </button>

            <button class="freature Entrevistar" routerLink="/cadastrar" routerLinkActive="active-link-def">
                <a class="mat-list-item def" >
                    Entrevistar
                </a>
            </button>

            <button class="freature aprovados" routerLink="/omhold" routerLinkActive="active-link-def">
                <a class="mat-list-item def" >
                    Aprovados
                </a>
            </button>

            <button class="freature contratados" routerLink="/contratados" routerLinkActive="active-link-def">
                <a class="mat-list-item def" style="font-size: 13px;">
                    Contratados
                </a>
            </button>

            <button class="freature inapto" routerLink="/inapto" routerLinkActive="active-link-def">
                <a class="mat-list-item def" >
                    Inapto
                </a>
            </button>

            <button class="default" routerLink="/vagas" routerLinkActive="active-link-def">
                <a class="mat-list-item def" >
                    Vagas
                </a>
            </button>

        
        <!-- </mat-nav-list> -->
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>